<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_invitees') }}">Invitees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_page') }}">User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p>This is the home page of the website.</p>
        <a class="btn btn-primary" href="{{ url_for('send_invites') }}">Send Invites</a>
    </div>
    <!-- Add Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>