<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_invitees') }}">Invitees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_page') }}">User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="rsvp_template">RSVP Template:</label>
                <textarea class="form-control" id="rsvp_template" name="rsvp_template"></textarea>
            </div>
            <div class="form-group">
                <label for="email_template">Email Template:</label>
                <textarea class="form-control" id="email_template" name="email_template"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Templates</button>
        </form>
        <a class="btn btn-secondary" href="/logout">Logout</a>
    </div>
    <!-- Add Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>